<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- null값이 들어왔을때 처리  -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<!-- alias 설정 !! -->
  	<typeAliases>
  		<typeAlias type="com.spring.biz.board.BoardVO" alias="board"/>
  	</typeAliases>
  <mappers>
  <!-- mapper파일 정보! -->
    <mapper resource="mappings/BoardMapper.xml"/>
  </mappers>
</configuration>