<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:component-scan base-package="com.spring.biz" />
	
	<!-- === AOP 설정(xmlns:aop 추가) ==== -->
	<!-- After Throwing : 예외발생시 적용할 어드바이스 객체 생성 -->
	<bean id="afterThrowing" class="com.spring.biz.common.AfterThrowingAdvice" />
	
	<!-- 대상과 적용시점 설정 -->
	<aop:config>
		<!-- 적용대상설정(포인트컷) -->
		<aop:pointcut id="allPointcut" 
			expression="execution(* com.spring.biz..*Impl.*(..))" />
		<aop:pointcut id="getPointcut" 
			expression="execution(* com.spring.biz..*Impl.get*(..))" />
	
		<!-- 작업설정(연결) -->
		<aop:aspect ref="afterThrowing">
			<!-- 핵심관심 메소드 예외발생시 exceptionLog 메소드 실행 -->
			<aop:after-throwing pointcut-ref="allPointcut" method="exceptionLog"/>
		</aop:aspect>
	</aop:config>
	
</beans>












